html {
    height: 100%;
}

body,
html {
    font-family: "Arial", sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
    background: url("food1.jpg") center center / cover no-repeat fixed;
}

.container {
    position: relative;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

input[type="text"],
input[type="radio"],
input[type="checkbox"],
select,
button {
    margin: 10px 0;
    padding: 12px;
    border: 2px solid #dfe3e6;
    border-radius: 4px;
}

input[type="text"] {
    width: 100%;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    align-self: center;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}

#clearTypeSelection {
    background-color: red;
    color: white;
    border: none;
    align-self: center;
    border-radius: 5px;
    padding: 6px 15px; /* Decreased top and bottom padding */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    font-size: 16px; /* Adjust font size as necessary */
    vertical-align: middle; /* This helps align the button vertically with form elements */
    margin-left: 10px; /* If you need space between the button and the last radio option */
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

#homeButton {
    background-color: #e2e6ea;
    color: #5a6268;
    border: none;
    border-radius: 5px;
    padding: 6px 15px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    font-size: 16px;
    vertical-align: middle;
}

button:hover {
    background-color: #218838;
    transform: translateY(-2px);
}

legend,
.form-label {
    font-size: 18px;
    font-weight: 600;
    color: #5a6268;
    margin-bottom: 10px;
}

legend {
    padding: 5px 10px;
    background-color: #e9ecef;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#CuisineOptions,
#MealOptions,
#DietOptions,
#IntoleranceOptions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

#CuisineOptions label,
#MealOptions label,
#DietOptions label,
#IntoleranceOptions label {
    background-color: #f8f9fa;
    border-radius: 4px;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

#CuisineOptions label:hover,
#MealOptions label:hover,
#DietOptions label:hover,
#IntoleranceOptions label:hover {
    background-color: #e2e6ea;
}

#IntoleranceOptions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.search-button-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#searchResults {
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background-color: #f0f0f0;
    margin-bottom: 5px;
    position: relative;
}

li:hover {
    background-color: #e0e0e0;
}

/* Hide dropdown content by default */
.dropdown-content {
    display: none;
}

/* Show dropdown content when the dropdown is active */
.dropdown-active .dropdown-content {
    display: block;
}

/* Style for the save button */
.save-button {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: green;
}
