body {
  background-image: url("meals.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.form-check-label,
.link-primary {
  white-space: nowrap;
}

.meal-title {
  font-family: "Pacifico", cursive;
  font-size: 48px;
  color: #333333;
  text-decoration: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
