<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>CIAA Meals</title>
  <link rel="stylesheet" href="styles.css" />
</head>

<body>
  <h1>CIAA Start Page</h1>
  <form action="start" method="post">

    <label for="choice">Choose One:</label> <br />
    <select name="choice">
      <option value=""></option>
      <option value="login">Login</option>
      <option value="register">Register</option>
    </select>

    <br />
    <button type="submit">Submit</button>
  </form>
</body>

</html>