<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>CIAA Meals Login Page</title>
  <link rel="stylesheet" href="styles.css" />
</head>

<body>

  <h1>CIAA Meals Login</h1>
  <form action="/login" method="post">

    <label for="username">Username :</label>
    <input type="username" name="username" required/> <br />

    <label for="password">Password :</label>
    <input type="password" name="password" required/> <br />

    <button type="submit" name="submitFormButton" value="submit">Submit</button>

  </form>

  <form action="/register" method="post" novalidate>
    <button type="submit" name="submitFormButton" value="start">Return to Start page</button>
  </form>

</body>

</html>