<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>CIAA Meals Login Page</title>
  <link rel="stylesheet" href="styles.css" />
</head>

<body>

  <h1>CIAA Meals Login</h1>

  <!-- Note: this html file contains 2 forms. -->

  <form action="/login" method="post">

    <!-- This first form sends a http POST request to the endpoint "/login" only 
      once all the fields have been filled out. This request is then handled in 
      "LoginController.java" by the PostMapping method. -->

    <label for="username">Username :</label>
    <input type="username" name="username" required/> <br />

    <label for="password">Password :</label>
    <input type="password" name="password" required/> <br />

    <button type="submit" name="submitFormButton" value="submit">Submit</button>

  </form>

  <form action="/register" method="post" novalidate>

    <!-- This second form sends a http POST request to the endpoint "/login"
      regardless of whether the fields have been filled out (that's what the 
      "novalidate attribute does"). This request is then handled in "LoginController.java" 
      by the PostMapping method. -->

    <button type="submit" name="submitFormButton" value="start">Return to Start page</button>
  </form>

</body>

</html>