<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meal Search</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="../static/mealSearch.css" rel="stylesheet" />
  </head>

  <body>
    <div class="container mt-5">
      <h1 class="text-center mb-4">Search for Meals</h1>
      <form id="mealSearchForm">
        <div class="mb-3">
            <label for="query" class="form-label">Enter name of the meal:</label>
             <input type="text" id="query" class="form-control" placeholder="Enter your search query" required>
      </div>
   
    <br />

<legend>Choose a cuisine: (optional)</legend>
<div id="CuisineOptions">
    <label><input type="radio" name="cuisine" value="African" /> African</label>
    <label><input type="radio" name="cuisine" value="Asian" /> Asian</label>
    <label><input type="radio" name="cuisine" value="American" /> American</label>
    <label><input type="radio" name="cuisine" value="Caribbean" /> Caribbean</label>
    <label><input type="radio" name="cuisine" value="Chinese" /> Chinese</label>
    <label><input type="radio" name="cuisine" value="French" /> French</label>
    <label><input type="radio" name="cuisine" value="Greek" /> Greek</label>
    <label><input type="radio" name="cuisine" value="Indian" /> Indian</label>
    <label><input type="radio" name="cuisine" value="Italian" /> Italian</label>
    <label><input type="radio" name="cuisine" value="Japanese" /> Japanese</label>
    <label><input type="radio" name="cuisine" value="Korean" /> Korean</label>
    <label><input type="radio" name="cuisine" value="Mediterranean" /> Mediterranean</label>
    <label><input type="radio" name="cuisine" value="Mexican" /> Mexican</label>
    <label><input type="radio" name="cuisine" value="Spanish" /> Spanish</label>
    <label><input type="radio" name="cuisine" value="Thai" /> Thai</label>
    <label><input type="radio" name="cuisine" value="Vietnamese" /> Vietnamese</label>
</div>
    <br />

<legend>Choose a diet: (optional)</legend>
<div id="DietOptions">
  <label><input type="radio" name="diet" value="Gluten Free" /> Gluten Free</label>
  <label><input type="radio" name="diet" value="Vegetarian" /> Vegetarian</label>
  <label><input type="radio" name="diet" value="Vegan" /> Vegan</label>
  <label><input type="radio" name="diet" value="Pescetarian" /> Pescetarian</label>
  <label><input type="radio" name="diet" value="Paleo" /> Paleo</label>
  <label><input type="radio" name="diet" value="Primal" /> Primal</label>
</div>
    <br />
    <br />

<legend>Choose any number of intolerances: (optional)</legend>
<div id="IntoleranceOptions">
  <label><input type="checkbox" name="intolerance" value="Dairy" /> Dairy</label>
  <label><input type="checkbox" name="intolerance" value="Egg" /> Egg</label>
  <label><input type="checkbox" name="intolerance" value="Gluten" /> Gluten</label>
  <label><input type="checkbox" name="intolerance" value="Grain" /> Grain</label>
  <label><input type="checkbox" name="intolerance" value="Peanut" /> Peanut</label>
  <label><input type="checkbox" name="intolerance" value="Seafood" /> Seafood</label>
  <label><input type="checkbox" name="intolerance" value="Sesame" /> Sesame</label>
  <label><input type="checkbox" name="intolerance" value="Shellfish" /> Shellfish</label>
  <label><input type="checkbox" name="intolerance" value="Soy" /> Soy</label>
  <label><input type="checkbox" name="intolerance" value="Sulfite" /> Sulfite</label>
  <label><input type="checkbox" name="intolerance" value="Tree Nut" /> Tree Nut</label>
  <label><input type="checkbox" name="intolerance" value="Wheat" /> Wheat</label>
</div>
    <br />
    <br />

 <div class="search-button-container">
  <button onclick="search()">Search</button>
</div>
    <br />
    <br />

    <div id="searchResults"></div>

    <script>
      function search() {
        var query = document.getElementById("query").value;
        var cuisine = null;
        var diet = null;
        var intolerances = [];

        if (document.querySelector('input[name="cuisine"]:checked') !== null) {
          cuisine = document.querySelector(
            'input[name="cuisine"]:checked'
          ).value;
        }
        if (document.querySelector('input[name="diet"]:checked') !== null) {
          diet = document.querySelector('input[name="diet"]:checked').value;
        }
        var checkboxes = document.querySelectorAll(
          'input[type="checkbox"]:checked'
        );
        checkboxes.forEach(function (checkbox) {
          intolerances.push(checkbox.value);
        });

        var url = "/search?query=" + encodeURIComponent(query);
        if (cuisine) {
          url += "&cuisine=" + encodeURIComponent(cuisine);
        }
        if (diet) {
          url += "&diet=" + encodeURIComponent(diet);
        }
        url += "&intolerances=" + encodeURIComponent(intolerances.join(","));

        fetch(url)
          .then((response) => response.json())
          .then((data) => {
            displayResults(data);
          })
          .catch((error) => {
            console.error("Error fetching search results:", error);
          });
      }

      function displayResults(results) {
        var resultsDiv = document.getElementById("searchResults");
        resultsDiv.innerHTML = "";

        results.forEach((result) => {
          var resultElement = document.createElement("div");
          resultElement.textContent = result;
          resultsDiv.appendChild(resultElement);
        });
      }
    </script>
  </body>
</html>
