<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Meal Search</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="mealSearch.css" rel="stylesheet"/>
    <script defer src="mealSuggest.js"></script>
</head>

<body>
<div class="container mt-5">
    <h1 class="text-center mb-4">Get Suggested Meals</h1>
    <div class="mb-3">
        <label class="form-label">Get meals that match your personal intolerances. All recipes
            displayed
            do not contain ingredients that are not suitable for your intolerances. Update your intolerances in the
            'Profile' page.
        </label>
    </div>
    <br/>

    <legend>Choose a meal type: (optional)</legend>
    <div id="CuisineOptions">
        <label><input name="type" type="radio" value="main course"/> Main course</label>
        <label><input name="type" type="radio" value="side dish"/> Side dish</label>
        <label><input name="type" type="radio" value="dessert"/> Dessert</label>
        <label><input name="type" type="radio" value="appetizer"/> Appetizer</label>
        <label><input name="type" type="radio" value="breakfast"/> Breakfast</label>
        <label><input name="type" type="radio" value="beverage"/> Beverage</label>
        <label><input name="type" type="radio" value="snack"/> Snack</label>

        <button id="clearTypeSelection" onclick="clearRadioButtons(`type`)">Clear</button>
    </div>

    <div class="search-button-container">
        <button onclick="generateList()" style="margin-right: 10px;">Get Suggestions</button>
    </div>

    <div class="button-container">
        <a href="homePage">
            <button id="homeButton">Back to Home Page</button>
        </a>
    </div>


    <ul id="searchResults">
        <!-- List items will be generated dynamically here using JavaScript -->
    </ul>
</div>
</body>

</html>