<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>CIAA Meals Home Page</title>
    <link rel="stylesheet" href="styles.css" />
</head>

<body>
    <h1>CIAA Meals Home Page</h1> <br />
    <h1> Welcome <span th:text="${session.firstName}"></span>!</h1>

    <form action="/oldHome" method="post">

        <!-- Note: this html file is a form that when submitted, sends a http POST request
       to the endpoint "/home". This request is then handled in "HomeController.java" 
       by the PostMapping method. -->

        <button type="submit" name="submitFormButton" value="userInfo">User Info</button>
        <br />
        <button type="submit" name="submitFormButton" value="savedMeals">Saved Meals</button>
        <br />
        <button type="submit" name="submitFormButton" value="mealSearch">Meal Search</button>
        <br />
        <button type="submit" name="submitFormButton" value="mealSuggest">Meal Suggestions</button>
        <br />
        <button type="submit" name="submitFormButton" value="changeFirstName">change first name</button>
    
      </form>

</body>

</html>