<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>CIAA Meals Start Page</title>
  <link rel="stylesheet" href="styles.css" />
</head>

<body>

  <h1>CIAA Meals Start Page</h1>

  <form action="/index" method="post">

    Note: this html file is a form that when submitted, sends a http POST request
       to the endpoint "/start". This request is then handled in "IndexController.java" 
       by the PostMapping method.

    <button type="submit" name="submitFormButton" value="register">Register</button>
    <br />
    <button type="submit" name="submitFormButton" value="login">Login</button>

  </form>
</body>

</html> -->