<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>CIAA Meals User Info Page</title>
    <link rel="stylesheet" href="styles.css" />
</head>

<body>
    <h1>User Info</h1> <br />

    <form action="/userInfo" method="post" novalidate>

         <!-- Note: this html file is a form that when submitted, sends a http POST request
       to the endpoint "/userInfo". This request is then handled in "UserInfoController.java" 
       by the PostMapping method. -->

        <button type="submit" name="submitFormButton" value="home">Return to Home page</button>
    </form>

</body>

</html>