<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CIAA Meals Registration</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <h1>CIAA Meals Register</h1>
    <p>Sign up for CIAA Meals</p>
    <form action="registered" method="post">
      <fieldset>
        <label for="firstName"
          >Enter Your First Name:
          <input id="first-name" name="first-name" type="text" required
        /></label>
        <label for="lastName"
          >Enter Your Last Name:
          <input id="last-name" name="last-name" type="text" required
        /></label>
        <label for="email"
          >Enter Your Email:
          <input id="email" name="email" type="email" required
        /></label>
        <label for="username"
          >Create a Username:
          <input
            id="username"
            name="username"
            type="username"
            pattern="[a-z0-5]{8,}"
            required
        /></label>
        <label for="password"
          >Create a New Password:
          <input
            id="password"
            name="password"
            type="password"
            pattern="[a-z0-5]{8,}"
            required
        /></label>
      </fieldset>
      <fieldset>
        <legend>Account type (required)</legend>
        <label for="individual"
          ><input
            id="individual"
            type="radio"
            name="account-type"
            class="inline"
            checked
          />
          Personal</label
        >
        <label for="family"
          ><input
            id="family-account"
            type="radio"
            name="account-type"
            class="inline"
          />
          Family</label
        >
      </fieldset>
      <fieldset>
        <label for="profile-picture"
          >Upload a profile picture:
          <input id="profile-picture" type="file" name="file"
        /></label>
        <label for="age"
          >Input your age (years):
          <input id="age" type="number" name="age" min="13" max="120"
        /></label>
        <label for="weight"
          >Input your weight (lbs):
          <input id="weight" name="weight" type="number" min="1" required />
        </label>
        <label for="bio"
          >Provide a bio:
          <textarea
            id="bio"
            name="bio"
            rows="3"
            cols="30"
            placeholder="Information about your diet..."
          ></textarea>
        </label>
      </fieldset>
      <label for="terms-and-conditions">
        <input
          class="inline"
          id="terms-and-conditions"
          type="checkbox"
          required
          name="terms-and-conditions"
        />
        I accept the
        <a href="https://www.dietwise.com/news/terms-of-service/"
          >terms and conditions</a
        >
      </label>
      <input type="submit" value="Submit" />
    </form>
  </body>
</html> -->


<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>CIAA Meals Start Page</title>
  <link rel="stylesheet" href="styles.css" />
</head>

<body>

  <h1>CIAA Meals Register</h1>

  <!-- Note: this html file contains 2 forms. -->

  <form action="/register" method="post">

    <!-- This first form sends a http POST request to the endpoint "/register" only 
      once all the fields have been filled out. This request is then handled in 
      "RegisterController.java" by the PostMapping method. -->

    <label for="firstName">First name :</label>
    <input type="text" name="firstName" required /> <br />

    <label for="lastName">Last name :</label>
    <input type="text" name="lastName" required /> <br />

    <label for="email">Email :</label>
    <input type="email" name="email" required /> <br />


    <label for="username">Username :</label>
    <input type="username" name="username" required /> <br />

    <label for="password">Password :</label>
    <input type="password" name="password" required /> <br />

    <button type="submit" name="submitFormButton" value="submit">Submit</button>
  </form>

  <form action="/register" method="post" novalidate>

    <!-- This second form sends a http POST request to the endpoint "/register"
      regardless of whether the fields have been filled out (that's what the 
      "novalidate attribute does"). This request is then handled in "RegisterController.java" 
      by the PostMapping method. -->

    <button type="submit" name="submitFormButton" value="start">Return to Start page</button>
  </form>

</body>

</html>