<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Saved Meals</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="savedMeals.css" rel="stylesheet">
    <script type="module" src="savedMeals.js"></script>
</head>

<body>
    <h1>Saved Meals</h1>
    <ul id="item-list">
    </ul>
    <div class="button-container">
        <a href="homePage"><button>Back to Home Page</button></a>
    </div>
</body>

</html>