<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>CIAA Meals Saved Meals Page</title>
    <link rel="stylesheet" href="styles.css" />
</head>

<body>
    <h1>Saved Meals</h1> <br />

    <form action="/savedMeals" method="post" novalidate>

        <!-- Note: this html file is a form that when submitted, sends a http POST request
       to the endpoint "/savedMeals". This request is then handled in "SavedMealsController.java" 
       by the PostMapping method. -->

        <button type="submit" name="submitFormButton" value="home">Return to Home page</button>
    </form>

</body>

</html>